.p-red {
    color: rgb(255, 0, 0);
    font-size: 30px;
}
.container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.box{
    /* display: inline; */
    background-color: rgb(0, 255, 21);
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 10px 20px 15px 17px;
    padding: 10px 20px 15px 17px;

}
.image {
    height: 150px;
    width: 150px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}